.tab-button {
  transition: all .3s ease;
}

.sticky {
  position: fixed;
  top: calc(0% + 210px);
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100px);
  animation: fadeIn .2s ease-in;
  opacity: 1;
  /* Ensure opacity is set to 1 at the end of the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.sticky button {
  transition: all .3s ease;
  text-align: end;
  display: inline-flex;
  align-items: end;
  justify-content: end;

}


.sticky button:hover {
  transform: translateX(90px);

}